# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# =====================
# Golang
# =====================

# Binaries
bin/
**/bin/*

# Executables (sometimes built in project root)
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace files
*.mod
*.sum

# Test binary data
*.prof
*.coverprofile
*.cov
*.tmp
*.log

# Go tools cache
/pkg/
/vendor/

# =====================
# VSCode
# =====================

.vscode/

# =====================
# JetBrains IDE (GoLand, IntelliJ, etc)
# =====================

.idea/
*.iml